<ons-page ng-init="AppointmentMechWaitRSVP()">
    <div style="background-color: #ab0019; height: 100px; color: #fff; text-align: center;position: relative; z-index: 2;">
        <ons-row>
            <ons-col style="color: #fff; text-align: center; line-height: 100px;">
                <h4 style="color: #fff;">Appointment Request Pending</h4>
            </ons-col>
        </ons-row>
    </div>
    <div style="padding: 20px 30px; text-align: center;">
        <p><img src="images/logo_gear.png" alt="Gear" style="width: 30%;" /></p>
        <p>Appointment request has been send</p>
        <p>Please be patient, we’ll come back to you shortly!</p>
        <p><ons-button ng-click="loadPage('home.html')">Home</ons-button></p>
        <p><ons-button modifier="large--quiet" ng-click="cancelRequest(myAppointID)">Cancel Request</ons-button></p>
    </div>
</ons-page>