<ons-page>
    <ons-toolbar style="background-color: #ab0019;">
        <div class="left">
            <ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu" style="color: #fff;"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div style="background-color: #ab0019; height: 100px; color: #fff; text-align: center;position: relative; z-index: 2;" ng-init="checkMechCan(liveConfimApp.appointID)">
        <ons-row>
          <ons-col width="100px" style="color: #fff; text-align: right;"><img ng-src="{{liveConfimApp.mechImageURL}}" alt="mechFace" style="width: 80px; padding: 10px;" ></ons-col>
          <ons-col style="color: #fff; text-align: left; padding: 10px;">
              {{liveConfimApp.mechName}}<br>
              {{liveConfimApp.carMake}}<br>
              {{liveConfimApp.regNo}}
          </ons-col>
        </ons-row>
    </div>
    <div style="padding: 20px 30px;">
        <div style="padding: 10px; background-color: #f2f2f2">
            <p>Standard Inspection includes:</p>
            <ul>
                <li>The Cars One100 80-point inspection</li>
                <li>Vehicle Diagnostics Report</li>
                <li>LightStone Vehicle History Report</li>
            </ul>
        </div>
    </div>
    <div style="padding: 20px;">
        <div style="background-color: #f2f2f2; text-align: center;">
            <img src="images/inspectIcon.png" style="width: 25%;">
            <h2><sup>R</sup>770</h2>
        </div>
        <p><ons-button modifier="large" ng-click="acceptAppCustomer()" style="background-color: #333;height: 50px;line-height: 50px;">Confirm Inspection</ons-button></p>
        <p><ons-button modifier="large--quiet" ng-click="cancelRequest(liveConfimApp.appointID)">Cancel Request</ons-button></p>
    </div>
</ons-page>