<ons-page>
    <div style="background-color: #ab0019; height: 100px; color: #fff; text-align: center;position: relative; z-index: 2;">
        <ons-row>
          <ons-col width="20px"></ons-col>
          <ons-col style="color: #fff; text-align: left; line-height: 100px;">
              Scheduled Appointments
          </ons-col>
          <ons-col width="40px" style="color: #fff; text-align: right;"><ons-icon icon="fa-times" ng-click="loadPage('home.html')" style="padding: 10px;"></ons-icon></ons-col>
        </ons-row>
    </div>
    <div ng-if="user.notifications.length > 0">
        <h4 style="padding: 10px 20px;">Scheduled Appointments</h4>
        <ons-list ng-repeat="notes in user.notifications" style="background-color: #f2f2f2">
            <ons-list-item modifier="chevron" tappable ng-click="checkRSVPStatus(notes.appointID);">
                <div class="left">
                    <img class="list-item__thumbnail" src="images/Payment.png">
                </div>
                <div class="center">
                    {{notes.date}}<br>
                    {{notes.address}}
                </div>
            </ons-list-item>
        </ons-list>
    </div>
    <h4 ng-if="user.notifications.length === 0" style="padding: 20px;">No notifications available!</h4>
</ons-page>