<ons-page>
    <div style="background-color: #ab0019; height: 100px; color: #fff; text-align: center;position: relative; z-index: 2;">
        <ons-row>
            <ons-col width="20px"></ons-col>
            <ons-col style="color: #fff; text-align: left; line-height: 100px;">
                Privacy Policy
            </ons-col>
            <ons-col style="color: #fff; text-align: right;">
                <ons-icon icon="fa-times" ng-click="loadPage('home.html')" ng-if="userLoggedin" style="padding: 10px;"></ons-icon>
                <ons-icon icon="fa-times" ng-click="appNav.popPage();" ng-if="userLoggedin == false" style="padding: 10px;"></ons-icon>
            </ons-col>
        </ons-row>
    </div>
    <div class="pagecontent">
        <p><strong>Personal Information Collection Statement</strong><br>The primary purpose for which we collect your personal information is to provide you with the services you have requested. You agree we may use and disclose your personal information and other data for this purpose and also for secondary purposes, including to personalise your user experience and to promote CarsOne100 and third-party products and services to you. Our Privacy Policy (see directly below) explains how we collect, use and disclose your personal information, the extent to which your personal information may be disclosed to overseas recipients and how to access, correct, delete or complain about the handling of your personal information. </p>
        <p><strong>CarsOne100 Privacy Policy</strong><br>The CarsOne100 app and website www.CarsOne100.com (CarsOne100 app and Website) is operated by One100 Technologies Pty Ltd (2017 / 356134 / 07) (CarsOne100).</p>
        <p>This policy sets out how CarsOne100 and third-party companies working with CarsOne100 (LightStone Auto, MotoVantage, Vehicle Facts, DATA DOT, Bid4Cars, Cars4Cash) collect, use, disclose and manage your personal information.</p>
        <p>If through using the CarsOne100 app or Website or our services you disclose personal information to third parties, this policy will not apply as between you and the third party and you will be subject to the privacy policy of that third party.</p>
        <p>By accessing or using the CarsOne100 app or Website, you agree to the collection, use and disclosure of your personal information in the manner described in this Privacy Policy.</p>
        <p>Words defined in the CarsOne100 Terms and Conditions have the same meaning in this Privacy Policy.</p>
        <p><strong>CarsOne100 Inspect and privacy</strong><br>CarsOne100 respects the importance of your privacy and is bound by the Protection of Personal Information Act, Act 4 of 2013 (Protection of personal information Act) and applicable privacy regulations. CarsOne100 are committed to protecting your privacy when managing your personal information and have policies and procedures to ensure that personal information is handled in accordance with the Protection of Personal Information Act.</p>
        <p><strong>What personal information is collected?</strong><br>Personal information collected by CarsOne100 will depend upon the circumstances of collection and on the services that we are providing to you and may include:</p>
        <ul>
            <li>identification details, which may include name, birth date, gender, security questions and answers;</li>
            <li>contact information which may include email address and mobile phone number;</li>
            <li>user IDs and passwords</li>
            <li>services provided to you;</li>
            <li>your public social profile information (e.g. name, profile picture) together with the email address you used to log into your social media account;</li>
            <li>business information, such as ABN and licence number;</li>
            <li>information submitted by you in relation to your use of the CarsOne100 service;</li>
            <li>third party account details (for example when you sign in through a social network);</li>
            <li>if you participate in any surveys we, or a third-party service provider acting on our behalf, may conduct from time to time, personal information relating to your survey responses;</li>
            <li>if you are applying for employment with us, personal information that is relevant to such employment;</li>
            <li>records and content of communications with CarsOne100 or any other person including records and content using Communications Services (as that term is defined in CarsOne100 Terms and Conditions); and</li>
            <li>information obtained as a result of your use of our app or website or application such as geo-locations and unique device identifiers.</li>
        </ul>
        <p>Please note that any records and content provided in hard copy format may be stored and scanned electronically by CarsOne100.</p>
        <p>CarsOne100 do not collect sensitive information, such as racial or ethnicity information, political opinions or associations, criminal records (save where provided by law enforcement authorities) or health information. However, subject to obtaining your prior consent, CarsOne100 may collect sensitive information from you in the course of considering an application for employment.</p>
        <p><strong>How is personal information collected?</strong><br>CarsOne100 collects personal information in a number of ways, including:</p>
        <ul>
            <li>directly from you when you provide information directly to CarsOne100, by phone or in writing (whether electronic or otherwise);</li>
            <li>from third parties, such as LightStone Auto, MotoVantage, Vehicle Facts, DATA DOT, Bid4Cars, Cars4Cash service providers and operators of third party websites, co-branded websites and applications (Linked Sites) and advertising served to the CarsOne100 app or website by third parties or resellers of CarsOne100 app or website services;</li>
            <li>from social networks where you consent to that network sharing information with us, or otherwise where you have been directed by you to send us information on your behalf;</li>
            <li>from third party data service providers and other entities where you have directed or otherwise consented to the collecting entity (or a service provider on its behalf) sending us the data;</li>
        </ul>
        <p><strong>How is personal information used?</strong><br>CarsOne100 will use the personal information it collects for the purpose for which you provide it, the purposes disclosed in this privacy policy, any related secondary purposes which you would reasonably expect and any other purpose you have consented to.<br>Your personal information may be used for the following purposes:</p>
        <ul>
            <li>to maintain appropriate business records;</li>
            <li>to research, develop, improve services and by its outsourced service providers to provide and improve their services;</li>
            <li>to respond to an enquiry or provide our services, products or assistance that you request from us;</li>
            <li>to pre-populate / customise / provide shortcuts on our website and or mobile app;</li>
            <li>to conduct surveys to determine use and satisfaction of services;</li>
            <li>to generate statistics;</li>
            <li>for the purposes of feedback, reviews and ratings;</li>
            <li>to promote and market special offers and other services to you (if you do not want to receive these, using the unsubscribe facility in a direct marketing communication sent to you);</li>
            <li>for staff training and quality assurance; and</li>
            <li>to aggregate personal information with our third-party partners for the purpose of personalising the advertising you receive from us and them.</li>
        </ul>
        <p><strong>How is personal information disclosed?</strong><br>CarsOne100 may disclose personal information to individuals and organisations other than CarsOne100 including:</p>
        <ul>
            <li>the public if you use publicly available Communications Services;</li>
            <li>operators of Linked Sites;</li>
            <li>outsourced service providers who assist CarsOne100 to provide its services including: (LightStone Auto, MotoVantage, Vehicle Facts, DATA DOT, Bid4Cars, Cars4Cash)</li>
            <li>information technology providers including carriers or networks;</li>
            <li>marketing and market research advisers and survey providers;</li>
            <li>professional advisers;</li>
            <li>insurance and finance providers</li>
            <li>data service providers, who may also disclose your personal information to our third-party partners for the purpose of personalising the advertising you receive from us and them; and</li>
            <li>payment providers;</li>
            <li>entities to whom you request we send your information;</li>
            <li>to assist government or regulatory authorities or police; and</li>
            <li>as we are required by law, for example pursuant to a subpoena or in accordance with unclaimed money legislation.</li>
        </ul>
        <p>Where CarsOne100 provides information to a third party at your request, you acknowledge that your information will be handled by that third party in accordance with its privacy policy and not in accordance with this privacy policy.</p>
        <p><strong>Deleting of personal information</strong><br>CarsOne100 will at anytime when requested by a user delete all information attaining by the entity or individual. This will be done if and when a user requests any personal information to be removed from the CarsOne100 database in writing to the following <a href="mailto:support@carsone100.com">support@carsone100.com</a> </p>
        <p><strong>About security and personal Information</strong><br>CarsOne100 take reasonable steps to protect personal information collected from misuse, loss, unauthorised access, modifications or disclosure. Your personal information may be stored in hard copy documents, but is generally stored electronically on CarsOne100’s systems. When making any purchase from CarsOne100 via the CarsOne100 app, your financial details are passed through an FNB Speed-Point Mobile Card device.</p>
        <p><strong>CarsOne100, Linked Sites and personal information</strong><br>When you visit the CarsOne100 app or website, CarsOne100 may record anonymous information such as IP address, time, date, referring URL, and other referral information, device information and location, carrier, site interactions such as your access to website features, pages accessed, content, searching activities, lead submission, and files accessed and downloaded, type of browser and operating system. Such information collected by CarsOne100 may compile a complete profile about CarsOne100’s users’ browsing, purchasing and other activities. This data may be used to categorise a user and provide personalised offers, marketing and advertising. Activity data may be shared with advertisers for these purposes where the user is already a customer of the advertiser. </p>
        <p>The CarsOne100 may use third party advertising companies to collect data and/or serve ads when you visit the app or website. These companies may use information (not including your name, address, email address or telephone number) about your visits to websites and other media in order to provide advertisements about goods and services of interest to you.</p>
        <p>CarsOne100 also uses Google Analytics cookies to record visitor behaviour on the website. This information may be used together with other third-party cookies such as Google advertising cookies and other personal information you may have already provided to us (or we have received from a third party with your consent) in order to personalise the advertising. The Google Analytics Advertising Features used by CarsOne100 are called Remarketing with Google Analytics, Google Display Network Impression Reporting and Google Analytics Demographics and Interest Reporting. You can opt out of these by visiting Google Analytics’ site here. <br><a href="https://tools.google.com/dlpage/gaoptout " target="_blank">https://tools.google.com/dlpage/gaoptout </a></p>
        <p>This policy may change over time. All changes will be published on the CarsOne100 website and the CarsOne100 mobile app.</p>
    </div>
</ons-page>