<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button></ons-back-button></div>
    </ons-toolbar>
    <h4 style="padding: 20px 30px; font-weight: normal;">Sign Up to CarsOne100</h4>
    <div style="text-align: center; padding: 20px 30px;">
        <p>
            <ons-input id="name" modifier="underbar material" placeholder="Name" float ng-model="signUp.name" style="width: 100%; padding: 20px 0;"></ons-input>
        </p>
        <p>
            <ons-input id="surname" modifier="underbar material" placeholder="Surname" float ng-model="signUp.surname" style="width: 100%; padding: 20px 0;"></ons-input>
        </p>
        <ons-row>
            <ons-col width="50px" style="line-height: 62px;">+27</ons-col>
            <ons-col><ons-input id="telnum" type="number" modifier="underbar material" placeholder="Enter your number" float ng-model="signUp.telnumber" style="width: 100%; padding: 20px 0;"></ons-input></ons-col>
        </ons-row>
        <p>
            <ons-input id="username" type="email" modifier="underbar material" placeholder="Email" float ng-model="signUp.email" style="width: 100%; padding: 20px 0;"></ons-input>
        </p>
        <p>
            <ons-input id="username2" type="email" modifier="underbar material" placeholder="Verify Email" float ng-model="signUp.email2" style="width: 100%; padding: 20px 0;"></ons-input>
        </p>
        <ons-row>
            <ons-col>
                <ons-input id="password" type="{{passInput}}" modifier="underbar material" placeholder="Password" float ng-model="signUp.password" style="width: 100%; padding: 20px 0;"></ons-input>
            </ons-col>
            <ons-col width="50px" style="line-height: 62px;"><div ng-if="passInput === 'password'"><ons-icon icon="fa-eye" ng-click="showPassword()"></ons-icon></div><div ng-if="passInput === 'text'"><ons-icon icon="fa-eye-slash" ng-click="hidePassword()"></ons-icon></div></ons-col>
        </ons-row>
        <small>Must contain letters, numbers and symbols and 8 characters long.</small>
        <ons-row>
            <ons-col>
                <ons-input id="password2" type="{{passInput}}" modifier="underbar material" placeholder="Password" float ng-model="signUp.password2" style="width: 100%; padding: 20px 0;"></ons-input>
            </ons-col>
            <ons-col width="50px" style="line-height: 62px;"><div ng-if="passInput === 'password'"><ons-icon icon="fa-eye" ng-click="showPassword()"></ons-icon></div><div ng-if="passInput === 'text'"><ons-icon icon="fa-eye-slash" ng-click="hidePassword()"></ons-icon></div></ons-col>
        </ons-row>
        <ons-list>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio modifier="material" name="tandc" input-id="radio-1" ng-model="signUp.tandc" value="yes" checked></ons-radio>
                </label>
                <label for="radio-1" class="center">
                    <span ng-click="appNav.pushPage('termsConditions.html', { animation : 'fade' })">Terms & Conditions</span>
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio modifier="material" name="tos" input-id="radio-2" ng-model="signUp.tos" value="yes" checked></ons-radio>
                </label>
                <label for="radio-2" class="center">
                    <span  ng-click="appNav.pushPage('termsService.html', { animation : 'fade' })">Terms of Service</span>
                </label>
            </ons-list-item>
            <ons-list-item tappable>
                <label class="left">
                    <ons-radio modifier="material" name="pp" input-id="radio-3" ng-model="signUp.pp" value="yes" checked></ons-radio>
                </label>
                <label for="radio-3" class="center">
                    <span  ng-click="appNav.pushPage('PrivacyPolicy.html', { animation : 'fade' })">Privacy Policy</span>
                </label>
            </ons-list-item>
        </ons-list>
    </div>
    <div style="padding: 0px 30px; text-align: right;">
        <p><ons-fab modifier="makeBigger" ng-click="toStep3()"><ons-icon icon="fa-arrow-right"></ons-icon></ons-fab> </p>
    </div>
    <div style="text-align: center; font-size: 14px; color: #C82026;">Already signed-up?  <span ng-click="appNav.pushPage('login.html', { animation : 'fade' })"><strong>LOGIN</strong></span></div>
    <p>&nbsp;</p>
</ons-page>