<ons-page>
    <div style="background-color: #ab0019; height: 100px; color: #fff; text-align: center;position: relative; z-index: 2;">
        <ons-row>
            <ons-col width="20px"></ons-col>
            <ons-col style="color: #fff; text-align: left; line-height: 100px;">
                Terms & Conditions
            </ons-col>
            <ons-col style="color: #fff; text-align: right;">
                <ons-icon icon="fa-times" ng-click="loadPage('home.html')" ng-if="userLoggedin" style="padding: 10px;"></ons-icon>
                <ons-icon icon="fa-times" ng-click="appNav.popPage();" ng-if="userLoggedin == false" style="padding: 10px;"></ons-icon>
            </ons-col>
        </ons-row>
    </div>
    <div class="pagecontent">
        <p>One100Technologies Pty Ltd (herein after revered to as “CarsOne100”) provides vehicle inspection services. By accessing or using the CarsOne100 mobile application (herein after referred to as “the app”) made available on Android and Apple IOS mobile application stores or the CarsOne100 website, you agree to be bound by the following terms and conditions of use (and the other terms, conditions and policies referred to in these terms and conditions) as amended from time to time.<br>The terms and conditions governing your use of CarsOne100’s services, such as vehicle inspection services, are set out in the CarsOne100 – Inspection Service Terms.</p>
        <ol>
            <li>
                <strong>About the app/website</strong>
                <ol type="a">
                    CarsOne100 publishes or makes available on the CarsOne100 app information, product and service offers, Software and links and other content supplied by CarsOne100 and third parties (collectively the <strong>“Material”</strong>).  CarsOne100 does not warrant, represent, authorise or endorse the reliability, accuracy or completeness of any such Material published on the CarsOne100 app or on any web site that links from the CarsOne100 app including third party display advertisements.
                </ol>
            </li>
            <li>
                <p><strong>Access</strong><br>You must be at least 18 years of age to use the app. In the case of a minor using the app, you must be assisted by your natural parent(s) and/or guardian(s) who is(are) legally competent to consent to these terms and conditions. By using the App you warrant and represent that you are at least 18 years of age or, in the case of a minor, that you are duly assisted by your natural parent(s) and/or guardian(s).</p>
            </li>
            <li>
                <strong>Restrictions on use of CarsOne100 app or website</strong>
                <ol type="a">
                    <li>
                        Except for the Material held contained in your phone or computer’s cache or a single permanent copy of the Material for your personal use you must not without the prior written approval of CarsOne100:
                        <ol type="i">
                            <li>modify, copy, distribute, transmit, display, perform, reproduce, publish or license any Material;</li>
                            <li>use or attempt to use any Material published on the CarsOne100 app or website to create any app and/or website or publication or searchable database;</li>
                            <li>mirror or frame any app, website or page within the CarsOne100 app or Website;</li>
                            <li>use any automated process of any sort to query, access, retrieve, scrape, data-mine or copy any Material on the CarsOne100 app or Website or generate or compile any document, index or database based on the Material published on the CarsOne100 app or Website;</li>
                            <li>transfer or sell any information, functionality or products or services offered on the CarsOne100 app or Website; or</li>
                            <li>undertake any other action which is in violation of these terms and conditions (or other terms and conditions and policies referred to in these terms and conditions) or any applicable law.</li>
                        </ol>
                    </li>
                    <li>
                        If CarsOne100 considers, in its absolute discretion, that you or any party related to you (including any agent, representative, contractor or associate) has acted contrary to these Terms and Conditions or in a manner contrary to CarsOne100’s interests, then CarsOne100 may immediately terminate your right to access and use the CarsOne100 app or Website at any time and reserves its rights to take any action it deems necessary or desirable to prevent such repeated action and / or further access to the CarsOne100 app or Website.
                    </li>
                </ol>
            </li>
            <li>
                <strong>CarsOne100’s Liability to You is Limited</strong>
                <ol type="a">
                    <li>
                        CarsOne100, its employees, subsidiaries, contractors and/or authorised agent will not be liable to you in relation to the contents of, or use of, or otherwise in connection with, the app or website:
                        <ol type="i">
                            <li>for any business losses, loss of revenue, damages of any nature, income, profits or anticipated savings, loss of contracts or business relationships; or</li>
                            <li>loss of reputation or goodwill, or loss or corruption of information or data.</li>
                        </ol>
                    </li>
                    <li>These limitations of liability apply even if CarsOne100 has been expressly advised of the potential loss. You accept all risks, losses or damages of whatsoever nature and howsoever arising (including penalties and fines) from the App as well as services rendered and indemnifies and holds CarsOne100 harmless in respect of any claim, demand, proceedings, action, costs, charges, expenses, any loss, damage or injury of whatsoever nature.</li>
                    <li>For the purposes of this section, the term CarsOne100 will mean CarsOne100, its related bodies corporate and each of their officers, employees, contractors and agents, whether individually or collectively.</li>
                    <li>You agree to indemnify CarsOne100 against any liability, loss, claim or demand if CarsOne100 (or any of its officers, representatives, employees or agents) suffers any loss or damage or incurs any cost in connection with a breach by you (or any of its officers, representatives, employees or agents) of these terms and conditions.</li>
                </ol>
            </li>
            <li>
                <strong>Reasonableness</strong><br>By using the app or website, you agree that the exclusions and limitations of liability as set in this document are reasonable. If you do not think they are reasonable, you must not use the app or website.
            </li>
            <li>
                <strong>Severability</strong><br>If any provision contained in this document is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will remain enforceable. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
            </li>
            <li>
                <strong>Copyright, Trademarks and Licence</strong>
                <ol type="a">
                    <li>Material on the CarsOne100 app or Website is owned by CarsOne100 and is protected by South African and international copyright and intellectual property laws. All rights not expressly granted under these terms and conditions are reserved by CarsOne100. Unless otherwise indicated on the CarsOne100 app or Website, the material on the CarsOne100 app or website is own by or licensed to CarsOne100 and is subject to copy right.</li>
                    <li>In consideration of CarsOne100 allowing you to access and use the CarsOne100 Network you grant to CarsOne100 a non-exclusive, payment free, perpetual, irrevocable licence to reproduce, modify, delete, adapt and publish any material you post, upload or otherwise transmit via Communications Services (subject to the CarsOne100 Privacy Policy). You warrant that: you have all necessary rights in the content that you contribute, the content is not defamatory, that it does not infringe any law and you indemnify CarsOne100, its officers, agents and contractors against any liability, loss, claim or demand arising out of or in respect of a breach of that warranty. You waive any moral rights you may have in relation to the material.</li>
                </ol>
            </li>
            <li>
                <strong>Communications Services</strong>
                <ol type="a">
                    <li>CarsOne100 may provide you with the ability to communicate with CarsOne100 and others through agreements, online forms, electronic requests and enquires, online forums, inbound phone number services and other forms of messaging on the CarsOne100 app or Website (<strong>Communications Services</strong>).</li>
                    <li>You acknowledge that Communications Services may be public and not private communications. Further, you acknowledge that Communication Services may be collected, stored and scanned by CarsOne100.  You should not however, consider Communication Services to have been reviewed, screened, or approved by CarsOne100.</li>
                    <li>
                        Use of the Communications Services is provided on condition that you do not do any of the following:
                        <ol type="i">
                            <li>transmit any information or material which is knowingly incorrect, misleading or deceptive;</li>
                            <li>transmit any defamatory, infringing, obscene, indecent or unlawful information or material or information;</li>
                            <li>transmit spam, chain letters, contests, junk mail, surveys or other mass messaging;</li>
                            <li>use the Communications Services for any unlawful purpose;</li>
                            <li>post or upload files that contain software or other material or information in breach of any person's intellectual property or privacy rights.</li>
                            <li>upload files that contain viruses, corrupted files, worms, defects or any other similar software or programs that may damage the operation of another's computer or damage the CarsOne100 app or Website or any of CarsOne100’s infrastructure;</li>
                            <li>delete any author attributions, legal notices or proprietary designations or labels in any file that is uploaded.</li>
                            <li>advertise or offer to sell any goods or services, or conduct or forward surveys, contests or chain letters other than as approved by CarsOne100.</li>
                            <li>download any file posted by another user of the Communications Services that you know, or reasonably should know, is unlawful or contrary to these terms and conditions.</li>
                            <li>excessively use the Communications Services in a manner which may hinder or prevent CarsOne100 from providing services to any other persons or which may threaten the integrity or use by any person of the CarsOne100 app or Website;</li>
                            <li>authorise, aid, abet encourage or incite any person to do any of the above acts.</li>
                        </ol>
                    </li>
                    <li>CarsOne100 may, but has no obligation to, review the use of the Communications Services by you and in its absolute discretion may delete, edit, refuse to post or remove in whole or part any information or material uploaded or posted using the Communications Services.</li>
                </ol>
            </li>
            <li>
                <strong>Software Services</strong><br>Any software that is made available to download from the CarsOne100 app or Website (<strong>Software</strong>) is owned by CarsOne100 and/or its suppliers.
            </li>
            <li>
                <strong>CarsOne100 and Your Privacy</strong><br>By using the CarsOne100 app or Website, you agree to the CarsOne100 Privacy Policy available at the CarsOne100 app which sets out how CarsOne100 collects, uses and discloses your personal information.
            </li>
            <li>
                <strong>What Law Governs these Terms and Conditions</strong><br>This agreement will be interpreted, governed by and construed in accordance with the laws of South Africa and you irrevocably submit to the exclusive jurisdiction of the Courts in South Africa.
            </li>
            <li>
                <strong>CarsOne100 May Change These Terms and Conditions</strong>
                <ol type="a">
                    <li>CarsOne100 may at any time and, in its absolute discretion modify or amend the terms and conditions upon which goods or services are supplied to you including such modifications or amendments in these terms of use and publishing them on the CarsOne100 app. Such modifications will be binding on you once displayed on this app. You should regularly check the terms and conditions displayed on this app.</li>
                    <li>The terms and conditions must be read together with the Privacy Policy and terms of service.</li>
                    <li>CarsOne100 may cease to provide you with access to the CarsOne100 app or Website without notice.</li>
                    <li>All rights not expressly granted are reserved.</li>
                </ol>
            </li>
            <li>
                <strong>Contact CarsOne100</strong>
                <p>
                    If you have a question, problem or complaint or need to contact us:<br>
                    Location:<br>
                    Phone:<br>
                    Email – support@carsone100.com
                </p>
            </li>
        </ol>
        <p><small><i>Version 1 (July 2018)</i></small></p>
    </div>
</ons-page>