<ons-page>
    <ons-toolbar style="background-color: #ab0019;">
        <div class="left">
            <!--<ons-toolbar-button ng-click="openMenu()">
                <ons-icon icon="md-menu" style="color: #fff;"></ons-icon>
            </ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    
    <div id="map-container" ng-controller="mapMechController">
        <ng-map default-style="false" center="current-location"  disable-default-u-i="true" zoom="14" geo-fallback-center="[-25.7585829, 28.057867]" geo-callback="callbackFunc('you')" >
            <marker position="current-position" title="You are here"></marker>
        </ng-map>
        <ons-fab style="position: absolute; top: 10px; right: 10px;">
            <a ng-href="call:{{liveAcceptedApp.userCell}}" style="text-decoration: none; color:#fff"><ons-icon icon="md-phone"></ons-icon></a>
        </ons-fab>
        <section id="mapActions">
            <ons-button modifier="large" ng-click="getDirectionTo(liveAcceptedApp.appointID, liveAcceptedApp.address)" ng-if="!directionsStart">Start Navigation</ons-button>
            <a class="button button--large" ng-href="{{navToURL}}" target="_blank" ng-if="directionsStart" style="background-color: #333; color: #fff;">View on Google Maps</a>
            <ons-button modifier="large" ng-click="startPayment()" ng-if="directionsStart">End navigation & go to payment</ons-button>
            <ons-button modifier="large--quiet" ng-click="cancelRequest(liveAcceptedApp.appointID)" style="color: #000;">Cancel Request</ons-button>
        </section>
    </div>
</ons-page>